# 4. Netflix Titles Dataset
**Objective: Explore the distribution of Netflix titles by genre, country, and release year.**

In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
netflix = pd.read_csv('netflix_titles.csv')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
# Get the columns of series produces in India
india = netflix[netflix["country"]=="India"][["title","director"]]
india

                              title                 director
4                      Kota Factory                      NaN
24                            Jeans               S. Shankar
39                     Chhota Bheem                      NaN
50                    Dharmakshetra                      NaN
66    Raja Rasoi Aur Anya Kahaniyan                      NaN
...                             ...                      ...
8773            Yanda Kartavya Aahe             Kedar Shinde
8775                Yeh Meri Family                      NaN
8798                       Zed Plus  Chandra Prakash Dwivedi
8799                          Zenda           Avadhoot Gupte
8806                         Zubaan              Mozez Singh

[972 rows x 2 columns]

In [4]:
# Get the tv shows released  in the year 2020
netflix[(netflix["listed_in"]== "TV Shows" ) & (netflix["release_year"]==2020)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
148,s149,TV Show,HQ Barbers,Gerhard Mostert,"Hakeem Kae-Kazim, Chioma Omeruah, Orukotan Ade...",NaN,"September 1, 2021",2020,TV-14,1 Season,TV Shows,When a family run barber shop in the heart of ...
2877,s2878,TV Show,Six Windows in the Desert,"Ali Kalthami, Meshal Aljaser, Faris Godus, Moh...","Moayad Alnefaie, Mohammed Alhamdan, Citi Bet B...",Saudi Arabia,"February 27, 2020",2020,TV-14,1 Season,TV Shows,From a theatre play to the aftermath of a plan...

In [5]:
# using pivot to reshape data
pivot = netflix.pivot_table(columns="rating", index="country" ,values="title", aggfunc="count")
pivot

rating,66 min,74 min,84 min,G,NC-17,NR,PG,PG-13,R,TV-14,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,UR
country,,,,,,,,,,,,,,,,,
", France, Algeria",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
", South Korea",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,7.0,2.0,39.0,3.0,2.0,NaN,NaN,NaN
"Argentina, Brazil, France, Poland, Germany, Denmark",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Argentina, Chile",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Venezuela, Colombia",NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN
West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Number of titles added per release year 

#aggfunc is used to aggregate data when multiple rows fall in same rows+column group 
pivot2 = netflix.pivot_table(index="release_year", columns="rating",values="title",aggfunc="count") 
pivot2

rating,66 min,74 min,84 min,G,NC-17,NR,PG,PG-13,R,TV-14,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,UR
release_year,,,,,,,,,,,,,,,,,
1925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
1944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,NaN,1.0,NaN,1.0,NaN,2.0,15.0,32.0,73.0,251.0,26.0,451.0,111.0,31.0,37.0,NaN,NaN
2018,NaN,NaN,NaN,2.0,1.0,1.0,31.0,30.0,52.0,268.0,26.0,549.0,105.0,41.0,40.0,1.0,NaN
2019,NaN,NaN,NaN,1.0,NaN,NaN,12.0,19.0,39.0,252.0,23.0,500.0,98.0,50.0,36.0,NaN,NaN
2020,NaN,NaN,NaN,1.0,NaN,NaN,15.0,21.0,48.0,174.0,45.0,469.0,80.0,59.0,41.0,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,11.0,14.0,21.0,151.0,21.0,270.0,45.0,26.0,33.0,NaN,NaN

In [7]:
#getting all the different rating
netflix["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [8]:
# Clleaning the rating column (removing the unnecessary timing)
valid_ratings = ['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17' 'NR', 'TV-Y7-FV', 'UR']

netflix["cleaned_ratings"]= netflix["rating"].where(netflix["rating"].isin(valid_ratings),np.nan)

In [9]:
# Add a column to explain what the rating means 
conditions = [
    netflix["rating"]== "TV-MA",
    netflix["rating"]== "TV-14",
    netflix["rating"]== "TV-PG",
    netflix["rating"]== "PG-13",
    netflix["rating"]== "PG",
    netflix["rating"]== "TV-Y",
    netflix["rating"]== "TV-Y7",
    netflix["rating"]== "R",
    netflix["rating"]== "TV-G",
    netflix["rating"]== "G",
    netflix["rating"]== "NC-17",
    netflix["rating"]== "NR",
    netflix["rating"]== "TV-YZ-FV",
    netflix["rating"]== "UR",
]

choices = ["Matured Audience ONly - Adults only",
           "Parents Strongly Cautonied -14+",
           "Parental Guidance Suggested",
           "Parents Strongly Cautonied -13+",
           "Parental Guidance",
           "Suitable for all Children ",
           "Age 7 and Up",
           "Restricted -17 + only with adult",
           "Television general auidiance - Suitable for all",
           "General Audiance - All ages",
           "Adults Only -17+",
           "Not Rated",
           "age above seven but fantasy violence",
           "Unrated"
           ]

netflix["rating explained"] = np.select(conditions,choices,default="No description available")
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,cleaned_ratings,rating explained
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",PG-13,Parents Strongly Cautonied -13+
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV-MA,Matured Audience ONly - Adults only
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,TV-MA,Matured Audience ONly - Adults only
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",TV-MA,Matured Audience ONly - Adults only
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,TV-MA,Matured Audience ONly - Adults only

In [13]:
# getting movies directed by a particular director
netflix[netflix["director"]=="Kirsten Johnson"][["title","description"]]

                  title                                        description
0  Dick Johnson Is Dead  As her father nears the end of his life, filmm...

In [16]:
# getting all shows in which Ahsaas Channa is casted
netflix[netflix["cast"].str.contains("Ahsaas Channa")]

ValueError: Cannot mask with non-boolean array containing NA / NaN values